<section class="hand-mini-bar-message">
    <div class="hand-mini-bar-message-card card" style="background-image:url('{{img}}')" title="{{name}}" data-img="{{img}}" data-card-id="{{id}}"> 
      
    </div>

    <div class="hand-mini-bar-message-info">
      <h4 class="hand-mini-bar-message-name"> {{#if action}}{{action}}: {{/if}}<b>{{name}}</b></h4>
      {{#if description}}
        <div class="hand-mini-bar-message-description">
          {{breaklines description}}
        </div>
      {{/if}}
    </div>
 </section>