<form class="cards-dialog">
    <figure>
        <img class="thumbnail" src="{{card.img}}" width="318"/>
        <figcaption>
            {{card.name}}
            {{#if card.face}}
                {{#if card.data.description }}
                    <p class="hand-mini-bar-play-dialog-description">
                        {{breaklines card.data.description}}
                    </p>
                {{/if}}
            {{/if}}
        </figcaption>
    </figure>

    <p class="notes">{{localize "CARD.PlayHint"}}</p>

    <div class="form-group stacked">
        <label>{{localize "CARDS.PassTo"}}</label>
        <div class="form-fields">
            <select name="to">
                {{selectOptions cards nameAttr="id" labelAttr="name"}}
            </select>
        </div>
    </div>

    {{#if notFaceUpMode}}
        <div class="form-group">
            <label>{{localize "CARDS.Facedown"}}</label>
            <div class="form-fields">
                <input type="checkbox" name="down"/>
            </div>
        </div>
    {{/if}}
</form>