<div id="hand-mini-bar-container">
    <div class="hand-mini-bar-buttons-container">
        <i class="hand-mini-bar-hide-show fas fa-angle-up"> </i>
    </div>
    <div id="hand-mini-bar-hands-container">
    </div>
</div>
